<section class="login-box">
  <p>Sign in to</p>
  <p class="logo"><strong>BaseKamp</strong></p>
  <form action="/session" method="POST">
    <input type="text" placeholder="Username" name="user[name]">
    <input type="password" placeholder="Password" name="user[password]">
    <input type="submit" value="Sign In">
  </form>
</section>
<p class="sign-up">Or, <a href="#">sign up</a> now!</p>