#project {
  background: white;
  width: 77%;
  margin: 0px auto;
  box-shadow: 0px 0px 7px #999;
  border-radius: 4px;
  padding: 20px;
  position: relative;

  aside {
    float: right;
    padding-top: 11px;
    vertical-align: bottom;
    font-size: 14px;

    a {
      color: rgb(28,92,118);
    }
  }

  h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    float: left;
  }

  .link {
    text-decoration: underline;
    color: #1C5C76;
    cursor: pointer;
  }

  .star {
    background-image: url(image_path("star-sprite.png"));
    width: 20px;
    height: 17px;
    margin-top: 9px;
    margin-bottom: 4px;
    margin-left: 10px;
    display: inline-block;

    cursor: pointer;
  }

  #project-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px dotted #aaa;
    width: auto;
    float: left;
    outline: 0;
    box-sizing: border-box;
    height: 30px;
  }
}