<article id="project_pane">
<span id="close_pane">close</span>
<input class="project-title" value="Name your project">
<input class="project-description" placeholder="Add a short description">
<h2>Invite people to your team</h2>
<p>Anyone invited to your team can see all materials related to the project. Every message, to-do list, file, event, and text document.</p>
<div id="team-members">
  <% _(3).times(function(){ %>
    <%= JST["project_user_view"]() %>
  <% }); %>
</div>
<p id="new-member">Add another...</p>

<input type="submit" value="Start this project!">
</article>